.sidebar-container {
    margin-top: 5px;
    padding: 15px 5px 10px 15px;
    border-radius: 5px;
}

.group-chat-head {
    margin-bottom: 10px;
    margin-left: 5px;
}

.group-name {
    font-weight: 500;
    margin: 0;
    width: 90%;
    padding: 10px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.group-name:hover {
    background-color: skyblue;
}

.normal-chat-head {
    margin-bottom: 10px;
    margin-left: 5px;
}

.member-status-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.sidebar-online-status {
    font-size: 10px;
    color: green;
    margin-right: 3px;
    margin-top: 0px;
}

.sidebar-offline-status {
    font-size: 10px;
    color: #e3b505;
    margin-right: 3px;
    margin-top: 0px;
}

.member-status-details {
    display: flex;
    align-items: center;
    gap: 6px;
}

.member-status-o-f {
    font-size: 14px;
    font-weight: 500;
}

.message-numbers {
    background-color: red;
    width: 18px;
    height: 18px;
    padding: 2px 6px;
    font-size: 11px;
    border-radius: 50%;
    font-weight: 500;
    color: white;
}

.member-status-with-messages {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.message-numbers-group {
    background-color: red;
    width: 18px;
    height: 18px;
    padding: 0 0 0 6px;
    font-size: 12px;
    border-radius: 50%;
    font-weight: 500;
    color: white;
    font-size: 12px;
}