::-webkit-scrollbar {
    width: 8px;
    border-radius: 50px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0px 0px 10px #2f5f6f;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #555;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #427ed4;
}